@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,400&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #232742;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: rgb(255,62,0);
	font-weight: 600;
}

.gridContainer {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 40px auto 100px;
  grid-gap: 10px
}

.gridSideHeader {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  position: sticky;
  top: 0
}

.gridTopNav {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  position: sticky;
  top: 0;
  background-color: white
}

main {
  grid-column-start: 2;
  grid-column-end: 3
}

.gridSideHeader img {
  max-width: 200px;
  margin: 0
}

.gridSideHeader h1, .gridSideHeader figure, .gridSideHeader p {
  text-align: center;
  margin: 0 auto
}

.gridSideHeader h1 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0.5em 0 0 0
}

.gridSideHeader figure {
  margin: 1em 0 0.5em 0
}

.gridSideHeader figcaption {
  font-style: italic;
  font-size: 0.6em
}